*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    background-color: #F2F2F2;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "header header"
    "main sidebar"
    "footer sidebar";
}
header{
    top: 0;
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 121px;
    padding: 24px 164px 211px 164px;
    background-image: url(assets/header/background.svg);
    background-size: cover;
    background-repeat: no-repeat
}
.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#menu-button{
    background-color: white; 
    border-radius: 50%;
    border: none;
    padding: 0.5em;
}
#close-button{
    background-color: white; 
    border-radius: 50%;
    border: none;
    padding: 0.5em;
}
.start-container{
    color: white;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 22px;
    justify-content: flex-start;
}
.start-container p{
    font-size: 14px;
}
.start-container h1{
    font-size: 60px;
}
.start-container span{
    color: yellow;
    text-decoration:underline;
    font-size: 16px;
}
.strategy-comment-container{
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 165px 150px 165px;
    width: 100%;
}
.strategy-container{
    width: 60%;
    padding-top: 244px;
    display: flex;
    flex-direction: column;
    gap: 29px;
    text-align: start;
}
.strategy-container p{
    font-size: 14px;
}
.strategy-container h1{
    font-size: 2rem;
}
.strategy-container span{
    color: #D4D6D4;
    font-size: 16px;
    text-decoration: underline;
}
.comment-container{
    width: 40%;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 244px 40px 60px;
}
.comment-container p{
    font-size: 24px;
}
.comment{
    display: flex;
    flex-direction: row;
    gap: -10px;
    align-items: center;
    align-content: center;
}
.comment img{
    height: 100%;
    border-radius: 50%;
}
.comment-content{
    display: flex;
    flex-direction: column;
    gap:6px;
}
.comment-content h3{
    font-size: 20px;
    font-weight: 500;
}
.comment-content p{
    font-size: 16px;
}
.awesome-lorem-container{
    display: flex;
    flex-direction: row;
    padding: 150px 165px 0;
    width: 100%;
    background-color: #F2F2F2;
}
.awesome-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-size: 2rem;
    text-align: left;
}
.lorem-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-size: 16px;
}
.lorem-container p{
    font-size: 25px;
}
.angel-comment-balenciaga-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #F2F2F2;
    margin-top: 104px;
}
.angel-comment-container{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 60%;
    background-image: url(assets/angel-comment-balenciaga-container/background-angel-comment-balenciaga-container.svg);
    background-size: 100%;
    padding-top: 372px;
    padding-left: 222px;
    background-repeat: no-repeat;
}
.angel-comment-block{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 1em;
    background-color: white;
    border-radius: 10px;
}
.balenciaga-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 40%;
    padding: 80px 133px 138px 56px;
}
.balenciaga-container h1{
    font-size: 2rem;
}
.balenciaga-container p{
    font-size: 16px;
}
.balenciaga-container span{
    color: #D4D6D4;
    font-size: 16px;
    text-decoration: underline;
}
#threed-model-back {
    background-image: url('assets/angel-comment-balenciaga-container/background-3d-lina-commen-conteiner.svg');
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    background-size: 100%;
    padding-top: 372px;
    padding-right: 322px;
    padding-left: 0;
    background-repeat: no-repeat;
}
#lina-comment{
    
}
#orange-circle-back{
    background-image: url('assets/angel-comment-balenciaga-container/background-eunuce-comment-booking-container.svg');
    background-size: 100%; 
    background-repeat: no-repeat;
}

aside{
    grid-area: sidebar;
    display: none;
    padding: 1.4em;
}
.show {
    display: block;
    height: 100vh;
    position: fixed;
    width: 300px;
    right: 0;
    top: 0;
    align-self: start;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
    display: flex;
    flex-direction: column;
    gap: 113px;
    padding: 310px 165px 30px;
    background-image: url(assets/footer/background-footer.svg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.phone-container{
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 16px;
}
.phone-container span{
    color: #B6C197;
}
.address-container{
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 16px;
}
.address-container span{
    color: #B6C197;
}
.contacts-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 128px;
}
.list-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-item{
    list-style-type: none;
}
.footer-item a{
    color: #B6C197;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}
.footer-item span{
    color: white;
    font-size: 16px;
}
.footer-item p{
    color: white;
    font-size: 24px;
}
.soc-net-container{
    display: flex;
    flex-direction: row;
    gap:5px;
}
.footer-logo-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.footer-logo-container span{
    font-size: 14px;
    color: #B5C096;
}

@media(max-width: 1080px){
    .comment-container p{
        font-size: 16px;
    }
    .comment img{
        height: 70px;
    }
    .comment-content h3{
        font-size: 10px;
    }
    .comment-content p{
        font-size: 8px;
    }
    .awesome-container{
        font-size: 25px;
    }
    .lorem-container p{
        font-size: 20px;
    }
    .angel-comment-container{
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        width: 70%;
        background-size: 100%;
        padding-top: 280px;
        padding-left: 50px;
        background-repeat: no-repeat;
    }
    #threed-model-back {
        background-image: url('assets/angel-comment-balenciaga-container/background-3d-lina-commen-conteiner.svg');
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        background-size: 100%;
        padding-top: 280px;
        padding-right: 50px;
        padding-left: 0;
        background-repeat: no-repeat;
    }
    .balenciaga-container{
        padding: 2em;
    }
    footer{
        padding: 2em;
    }
}
@media(max-width:  850px){
    body{
        grid-template-columns: 1fr;
    }
    aside{
        position: fixed;
        width: 300px;
        display: none;
        right: 0;
    }
    .header-container #logo{
        display: none;
    }
    header{
        padding-left: 2em;
        padding-right: 2em;
    }
    .header-container{
        display: flex;
        justify-content: flex-end;
    }
    .start-container h1{
        font-size: 40px;
    }
    .comment-container p{
        font-size: 12px;
    }
    .comment img{
        height: 50px;
    }
    .comment-content h3{
        font-size: 8px;
    }
    .comment-content p{
        font-size: 6px;
    }
    .comment-container{
        padding-left: 1em;
        padding-right: 1em;
    }
    .strategy-comment-container{
        padding-left: 2em;
        padding-right: 2em;
    }
    .strategy-container p{
        font-size: 10px;
    }
    .strategy-container h1{
        font-size: 26px;
    }
    .awesome-lorem-container{
        padding-left: 2em;
        padding-right: 2em;
    }
    .awesome-container{
        font-size: 20px;
    }
    .lorem-container p{
        font-size: 12px;
    }
    .angel-comment-container{
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        width: 70%;
        background-size: 100%;
        padding-top: 240px;
        padding-left: 50px;
        background-repeat: no-repeat;
    }
    #threed-model-back {
        background-image: url('assets/angel-comment-balenciaga-container/background-3d-lina-commen-conteiner.svg');
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        background-size: 100%;
        padding-top: 240px;
        padding-right: 50px;
        padding-left: 0;
        background-repeat: no-repeat;
    }
    .angel-comment-block p{
        font-size: 12px;
    }
    .balenciaga-container p{
        font-size: 12px;
    }
    footer{
        gap: 20px;
    }
    .contacts-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 18px;
    }
    .list-container{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 20px;
    }
    .footer-logo-container img{
        height: 20px;
    }
}
@media(max-width: 650px){
    .angel-comment-container{
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        width: 60%;
        background-size: 100%;
        padding-top: 140px;
        padding-left: 40px;
        background-repeat: no-repeat;
    }
    #threed-model-back {
        background-image: url('assets/angel-comment-balenciaga-container/background-3d-lina-commen-conteiner.svg');
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        background-size: 100%;
        padding-top: 140px;
        padding-right: 40px;
        padding-left: 0;
        background-repeat: no-repeat;
    }
    .balenciaga-container h1{
        font-size: 20px;
    }
}
@media(max-width: 460px){
    .start-container h1{
        font-size: 20px;
    }
    .strategy-comment-container{
        padding-bottom: 2em;
    }
    .strategy-container{
        padding-top: 2em;
    }
    .strategy-container h1{
        font-size: 20px;
    }
    .comment-container{
        padding-top: 2em;
    }
    .comment-container p{
        font-size: 8px;
    }
    .awesome-lorem-container{
        padding-top: 2em;
    }
    .awesome-container{
        font-size: 14px;
    }
    .lorem-container p{
        font-size: 8px;
    }
    .angel-comment-balenciaga-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #F2F2F2;
        margin-top: 2em;
        
    }
    .angel-comment-container{
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        width: 100%;
        background-size: 100%;
        padding-top: 140px;
        padding-left: 40px;
        background-repeat: no-repeat;
        padding-left: 2em;
        padding-right: 2em;
    }
    #threed-model-back {
        background-image: url('assets/angel-comment-balenciaga-container/background-3d-lina-commen-conteiner.svg');
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        background-size: 100%;
        padding-top: 140px;
        padding-right: 40px;
        padding-left: 0;
        background-repeat: no-repeat;
        padding-left: 2em;
        padding-right: 2em;
    }
    .balenciaga-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        width: 100%;
        padding-left: 2em;
        padding-right: 2em;
    }
    .list-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 20px;
    }
    
}
